/* HORIZONTAL FRAMEWORK */
html>/**/body {
	overflow: hidden; /* for everyone except IE7... */
}
/*
	CUSTOM SCROLLBAR
*/
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #ccc; -webkit-border-radius: 3px; border-radius: 3px; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 3px; border-radius: 3px; background: #999; }
::-webkit-scrollbar-thumb:window-inactive { background: #999; }

/*
	HEADER
*/
header {
	position: fixed;
	width: auto;
	z-index: 2;
}
:focus {
	outline: none;
}
/*
	SLIDES
*/
.slide {
	float: left;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.scroll {
	height: 100%;
}
.nopadding {
	padding: 0 !important;
}
/*
	MENU
*/
#menu {
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 1;
	white-space: nowrap;
	font-size: 0;
}
#menu a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 2;
}
/*
	MENU ANIMATION
*/
#magic {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 1;
}
/*
	COLLAPSIBLE
*/
.collapsible h2.opened {
	background: url(../images/minus.png) left center no-repeat;
}
.collapsible h2 {
	background: url(../images/plus.png) left center no-repeat;
	padding-left: 40px;
}
/*
	IMAGE CAPTION HOVER EFFECT
*/
.hovereffect {
	position: relative;
	overflow: hidden;
}
.hovereffect img {
	position: absolute;
}
.hovereffect div {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/overlay.png) repeat;
	width: 100%;
	height: 100%;
	color: #fff;
}
.hovereffect div p {
	padding: 20px;
}
/*
	LIGHTBOX
*/
#overlay {
	position: absolute;
	background: url(../images/overlay.png) repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.lightbox_content {
	display: none;
	background: #fff;
	padding: 20px;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-transform: transform3d(0, 0, 0);
}
.close {
	float: right;
	margin: -55px -20px 0 0;
	background: url(../images/close.png) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}
.close span {
	visibility: hidden;
}
/*
	MOBILES
*/
@media screen and (max-device-width: 480px) {
	body.mobile { -webkit-text-size-adjust: 85%; }
	.mobile #menu {
		height: 5px !important;
		background: none transparent;
		margin: 0 auto 5px auto;
		bottom: 0px !important;
		text-align: center !important;
	}
	.mobile #menu a {
		text-indent: -999999px;
		width: 6px !important;
		height: 6px !important;
		background: #fff;
		margin: auto 3px;
		padding: 0px !important;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.mobile #menu .active {
		color: #fff;
		background: #999;
	}
	.mobile #magic {
		display: none !important;
	}
	.mobile .slide img {
		width: 99% !important;
	}
	.mobile .lightbox_content {
		width: 99% !important;
	}
}